@model ProjektListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/KoraciNavigacija.cshtml", Model.IdProjekta)
@Html.Partial("~/Views/Shared/NoviKriterijPopup.cshtml")


<div class="projekt_controller_container">

    <h2>Kriteriji</h2>

    <div class="treeview">
        @{int idRoditelja = 0; }
        @if (Model != null && Model.ListaKriterija.Count() > 0)
        {
            <ul>
                @if (Model.ListaKriterija.FirstOrDefault().idRoditelja == null)
                {
                    idRoditelja = 0;
                }
                else
                {
                    idRoditelja = (int)Model.ListaKriterija.FirstOrDefault().idRoditelja;
                }
                @{ List<int> listaPregledanihKriterija = new List<int>();}
                @{ int brojPredaka = 0;}
                @Treeview.GetTreeView(Model.ListaKriterija, idRoditelja, listaPregledanihKriterija, brojPredaka)
            </ul>
            }else
            {
                <p>Ne postoje kriteriji</p>
            }

    </div>

    

</div>


