
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/InnerInteractiveContent.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="~/Content/Odluka.js"></script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Content/Site.css")
    @RenderSection("scripts", required: false)
    @*//TODO popraviti da se učitavaju skripte iz bundles umjesto normalno*@
</head>
<body>
    <div id="zatamnjivac_pozadine" onclick="sakrijPopupove()">

    </div>
    <div class="container">
        <header class="glavna_zaglavlje"></header>
        <main class="glavna_main">
            <div class="glavna_main_container">
                @RenderBody()
            </div>
        </main>
    </div>
    
</body>
</html>
