

<div class="popup" id="kriterij_popup">
    <div class="novi_kriterij_popup_header">

    </div>
    <div class="novi_kriterij_popup_glavni">
        <form action="/Kriteriji/NoviKriterij">
            <input type="hidden" id="id_projekt" name="idProjekta" />
            <input type="hidden" id="id_roditelja" name="idRoditelja" />
            <label for="naziv_kriterija_input">Naziv kriterija</label>
            <input type="text" id="naziv_kriterija_input" name="nazivKriterija" />
            <label for="opis_kriterija_input">Opis kriterija</label>
            <input type="text" id="opis_kriterija_input" name="opisKriterija" />
            <input type="submit" value="Dodaj kriterij" />
        </form>
    </div>

</div>