<div class="popup" id="projekt_popup">
    <div class="novi_projekt_popup_header">

    </div>
    <div class="novi_projekt_popup_glavni">
        <form action="/Projekt/NoviProjekt">
            <label for="naziv_projekta_input">Naziv projekta</label>
            <input type="text" id="naziv_projekta_input" name="nazivProjekta" />
            <label for="opis_projekta_input">Opis projekta</label>
            <input type="text" id="opis_projekta_input" name="opisProjekta" />
            <input type="submit" value="Kreiraj projekt" />
        </form>
    </div>

</div>
