

<div class="popup" id="uredi_alternativu_popup">
    <div class="nova_alternativa_popup_header">

    </div>
    <div class="nova_alternativa_popup_glavni">
        <form action="/Alternative/UrediAlternativu">
            <input type="hidden" id="id_alternativa_uredi_alternativu" name="idAlternative" />
            <label for="naziv_alternative_input">Naziv alternative</label>
            <input type="text" id="naziv_alternative_input_uredi_alternativu" name="nazivAlternative"/>
            <label for="opis_alternative_input">Opis alternative</label>
            <input type="text" id="opis_alternative_input_uredi_alternativu" name="opisAlternative" />
            <input type="submit" value="Uredi alternativu" />
        </form>
    </div>

</div>
