

<div class="popup" id="uredi_alternativu_popup">
    <div class="popup_wrapper">
        <div class="popup_header">
            <div class="popup_header_wrapper">
                <h1>
                    Uređivanje alternative
                </h1>
            </div>
        </div>
        <div class="popup_glavni">
            <div class="popup_glavni_wrapper">
                <form action="/Alternative/UrediAlternativu" id="popup_forma">
                    <input type="hidden" id="id_alternativa_uredi_alternativu" name="idAlternative" />
                    <label for="popup_naziv_input_uredi">Naziv alternative</label><br />
                    <input type="text" id="popup_naziv_input_uredi" name="nazivAlternative" /><br />
                    <label for="popup_opis_input_uredi">Opis alternative</label><br />
                    <textarea type="text" id="popup_opis_input_uredi" name="opisAlternative" cols="40" rows="5"></textarea>
                    <input type="submit" value="Spremi" id="popup_gumb"/>
                </form>
            </div>
        </div>
    </div>
    

</div>
